<app-categories></app-categories>
<!-- carrousel -->
<div class="h-fit md:my-4 py-2 md:px-52 relative" >
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of [1,2,2,2]">
      <ng-template carouselSlide>
        <img src="https://images.unsplash.com/photo-1552053387-494dfcf63b47?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80" class="w-full md:h-[35rem] object-cover object-center bg-no-repeat opacity-90" >
      </ng-template>
    </ng-container>
  </owl-carousel-o>
  <div class="w-[78.5%] h-[98%] bg-transparent z-20 absolute top-2 flex flex-col justify-center pl-10">
    <p class="text-white md:text-5xl text-2xl font-bold">Fresh Vegetables <br> Big Discount</p>
    <p class="text-white md:text-3xl font-bold">Save upto 40% on your first order</p>
  </div>
</div>


<div class="px-52 flex items-center">
<h1 class="text-2xl">Featured Categories</h1>
<a>Cake & Milk</a>
<a>Coffees & Teas</a>
<a>Pet Foods</a>
<a>Vegetables</a>
</div>
