<div class="w-full h-20 bg-gray-900 main flex justify-between items-center px-10">

  <div class="w-fit h-fit flex">
    <span class="material-symbols-outlined text-4xl text-txtp">
      shopping_cart
      </span>
       <p class="text-3xl font-bold text-txts">eshop</p>
  </div>
  <div class="w-[36rem] h-12 flex items-center bg-white rounded-md overflow-hidden ring">
    <select name="category" id="category" class="flex-1 h-full ring">
      <option value="All categories">All categories</option>
      <option value="All categories">All categories</option>
      <option value="All categories">All categories</option>
      <option value="All categories">All categories</option>
    </select>
    <input type="text" class="w-96 h-full border-none">
    <span class="material-symbols-outlined text-2xl px-2">
      search
      </span>
  </div>
  <div class="text-white flex gap-4">
    <span class="material-symbols-outlined text-3xl">
      cycle
      </span>
    <span class="material-symbols-outlined text-3xl">
      favorite
      </span>
    <span class="material-symbols-outlined text-3xl">
      shopping_cart
      </span>
      <span class="material-symbols-outlined text-3xl">
        person
        </span>
  </div>

</div>
