<div class="flex items-center justify-center h-screen">
  <div class="mx-auto max-w-screen-2xl px-7">
    <!-- title section -->
    <div class="flex flex-col items-center justify-center">
      <h1
        class="mb-5 text-4xl font-semibold text-center text-primary font-openSans"
      >
        SecurePass
      </h1>
      <h1 class="max-w-sm mb-10 text-xl font-medium text-center font-openSans">
        Log in or create a <a class="">new account</a> new account to access
        your secure vault.
      </h1>
    </div>
    <div
      class="flex items-center justify-center gap-10 rounded-lg shadow-lg md:justify-between md:p-7"
    >
      <!-- image section -->
      <div class="hidden md:block">
        <object
          data="https://tecdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          width="400"
          height="400"
          class="w-96"
        ></object>
      </div>
      <!-- form section -->
      <form [formGroup]="form" (submit)="onSubmit()">
        <div class="flex flex-col gap-5 px-3 rounded-md py-7">
          <div class="flex flex-col gap-3">
            <label for="">Email</label>
            <input
              formControlName="email"
              class="px-4 py-3 border border-black rounded-md outline-primary"
              type="email"
              name="email"
              placeholder="Enter your Email"
            />
            <div *ngIf="fc['email'].touched && fc['email'].invalid">
              <h1 class="text-red-500" *ngIf="fc['email'].errors!['required']">
                Email is Required
              </h1>
              <h1 class="text-red-500" *ngIf="fc['email'].errors!['pattern']">
                You must enter a valid email
              </h1>
            </div>
          </div>
          <div class="relative flex flex-col gap-3">
            <label for="">Password</label>
            <input
              formControlName="password"
              class="px-4 py-3 border border-black rounded-md lg:w-[25rem] outline-primary"
              [type]="passwordVisible ? 'text' : 'password'"
              name="password"
              placeholder="Enter your Password"
            />
            <span
              (click)="onTogglePasswordShow()"
              class="absolute right-0 grid px-4 top-12 place-content-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6 text-gray-400"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                />
              </svg>
            </span>
            <div *ngIf="fc['password'].touched && fc['password'].invalid">
              <h1
                class="text-red-500"
                *ngIf="fc['password'].errors!['required']"
              >
                Password is required
              </h1>
              <h1
                class="max-w-sm text-red-500"
                *ngIf="fc['password'].errors!['pattern']"
              >
                Password must be at least 8 characters long , have 1
                uppercaseLetter and 1 lowercaseLetter
              </h1>
            </div>
          </div>
          <button
            [disabled]="form.invalid"
            class="p-3 mt-5 mb-5 text-white bg-blue-600 rounded-md bg-primary"
          >
            Login
          </button>
          <p>
            New around here?
            <button routerLink="/register" class="text-primary">
              Create Account
            </button>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
